player-connection-mode=Listen
player-connection-guid=2136030007
player-connection-debug=0
player-connection-project-name=Azul
player-connection-ip=192.168.1.132
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=9af7b8107b9f424e85a047629c1d781a
